body{
    text-align: center;
}
.deliveryAmount{
    display: none;
}
.pizzaDeliveryInput{
    display:none;
}
.orderDetails{
    display:none;
}
.final_checkout{
    display:none;
}
.deliveryQuestion{
    display:none;
}