body {
    text-align: center;
    background-image: linear-gradient(rgb(206, 230, 243), rgb(224, 224, 134), rgb(235, 170, 219));
    font-family: 'Comic Neue', cursive;
    font-weight: bolder;
    margin: 0;
    padding: 0;

}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;

}

/*this is the pizzas catalogue*/
.pizzaRow {
    display: flex;
    justify-content: space-between;
}


.pizzaPalace {
    color: rgb(141, 67, 135);
}

p {
    font-family: 'Montserrat', sans-serif;
}

.deliveryAmount,
.pizzaDeliveryInput,
.orderDetails,
.final_checkout,
.deliveryQuestion,
.grand_total,
.deliveryMessage,
.deliveryButtons,
.giphy-embed {
    display: none;
}


.checkout,
.deliveryInfo,
.grand_total_v {
    list-style: none;
}



footer,
.push {
    height: 50px;
    background-color: #D1E5E0;

    font-family: 'Red Hat Mono', monospace;
    margin-top: 100px;
    font-size: smaller;
    color: rgb(112, 81, 111);
    width: 100%;
}

.right {
    float: right;
}

.right a {
    text-decoration: none;
}


.deliveryInfo li,
.grand_total_v li {
    font-size: 30px;
}

.form {
    margin: auto;
    width: 50%;
}

.pizza {
    height: 20%;
}

.carousel .carousel-item img {
    height: 500px;
    object-fit: cover;
}

.placeOrder,
.deliveryYes,
.deliveryNo,
.final_checkout {
    background-color: pink;
}

.hungry {
    padding-top: 70px;
}

.make_order {
    padding-bottom: 20px;
}

.intro {
    line-height: 3rem;
    padding-bottom: 50px;
}