body {
    text-align: center;
}

.deliveryAmount {
    display: none;
}

.pizzaDeliveryInput {
    display: none;
}

.orderDetails {
    display: none;
}

.final_checkout {
    display: none;
}

.deliveryQuestion {
    display: none;
}

.grand_total {
    display: none;
}

.grand_total_v {
    list-style: none;
}

.checkout {
    list-style: none;
}