body {
    text-align: center;
   background-image: linear-gradient(rgb(206, 230, 243), rgb(224, 224, 134), rgb(235, 170, 219));
    font-family: 'Comic Neue', cursive;
    font-weight: bolder;
    margin:0;
    padding:0;

}
.wrapper{
    min-height:100%;
    margin-bottom: -50px;
   
}


.pizzaPalace {
    color: rgb(141, 67, 135);
}

p {
    font-family: 'Montserrat', sans-serif;
}

.deliveryAmount {
    display: none;
}

.pizzaDeliveryInput {
    display: none;
}

.orderDetails {
    display: none;
}

.final_checkout {
    display: none;
}

.deliveryQuestion {
    display: none;
}

.grand_total {
    display: none;
}

.grand_total_v {
    list-style: none;
}

.checkout {
    list-style: none;
}

.deliveryMessage {
    display: none;
}

.deliveryInfo {
    list-style: none;
}

.deliveryButtons {
    display: none;
}

.giphy-embed {
    display: none;
}

footer,
.push{
    height:50px;
    background-color: aqua;

    font-family: 'Red Hat Mono', monospace;
    margin-top: 100px;
    font-size: smaller;
    color: rgb(112, 81, 111);
   width:100%;
}

.right{
    float: right;
}

/* .pizzaImage {
    float: right;

} */
/* 
img {
    height: 300px;
} */

.grand_total_v li {
    font-size: 30px;
}

.deliveryInfo li {
    font-size: 30px;
}

.form {
    margin: auto;
    width: 50%;
}

.pizza {
    height: 20%;
}

.carousel .carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel p {}

.placeOrder,
.deliveryYes,
.deliveryNo,
.final_checkout {
    background-color: pink;
}

.hungry {
    padding-top: 70px;
}

.make_order {
    padding-bottom: 20px;
}

.intro {
    line-height: 3rem;
    padding-bottom: 50px;
}